{% extends "global.twig" %}

{% block title "Voir un article" %}

{% block css %}
	{{ asset("css","article") }}
{% endblock %}

{% block body %}
	{% if error_message %}
		<p>{{ error_message }}</p>
	{% endif %}

	{% if article_data %}
		<p>Titre : {{ article_data.article_title }}</p>
		<p>Contenu : {{ article_data.article_content }}</p>
	{% endif %}
	<p>
		<a href="{{ route("Article:show_article",{"article_title" : "autre article"}) }}">Lien vers un autre article </a>
	</p>
{% endblock %}